<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/" method="get">
    <div>
      请选择省份：<select id="region" onchange="regionChanged()">
        <option value=""></option>
        <option value="北京市" label="北京市">北京市</option>
        <option value="天津市" label="天津市">天津市</option>
        <option value="河南省" label="河南省">河南省</option>
        <option value="山西省" label="山西省">山西省</option>
        <option value="辽宁省" label="辽宁省">辽宁省</option>
        <option value="吉林省" label="吉林省">吉林省</option>
        <option value="黑龙江省" label="黑龙江省">黑龙江省</option>
        <option value="江苏省" label="江苏省">江苏省</option>
        <option value="浙江省" label="浙江省">浙江省</option>
        <option value="安徽省" label="安徽省">安徽省</option>
        <option value="福建省" label="福建省">福建省</option>
        <option value="江西省" label="江西省">江西省</option>
        <option value="山东省" label="山东省">山东省</option>
        <option value="河南省" label="河南省">河南省</option>
        <option value="湖北省" label="湖北省">湖北省</option>
        <option value="湖南省" label="湖南省">湖南省</option>
        <option value="广东省" label="广东省">广东省</option>
        <option value="海南省" label="海南省">海南省</option>
        <option value="四川省" label="四川省">四川省</option>
        <option value="贵州省" label="贵州省">贵州省</option>
      </select></div>
    <div>
      请选择城市：<select id="state" onchange="stateChanged()">
      </select>
    </div>
    <div>
      请选择地区：<select id="city">
      </select>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>

  <script>
    var region = document.getElementById("region");
    var state = document.getElementById("state");
    var city = document.getElementById("city");
    var stateOption, cityOption;
    //添加选项
    function addOption(data) {
      var option = '<option value=""></option>';
      for (let i = 0; i < data.length; i++) {
        option += '<option value="' + data[i].name + '" label="' + data[i].name + '" >' + data[i].name + '</option>';
      }
      return option;
    }

    //像后端请求state
    function regionChanged() {
      $.ajax({
        url: "/data",
        method: "get",
        data: {
          region: region.value,
        },
        success: function (d) {
          //清空state和city的选项
          if ($("#state").find("option") != 0) {
            $("#state").empty();
          }
          if ($("#city").find("option") != 0) {
            $("#city").empty();
          }
          var data = JSON.parse(d);
          for (let i = 0; i < data.length; i++) {
            if (data[i].region.name == region.value) {
              stateOption = addOption(data[i].region.state)//添加state的option
              $("#state").append(stateOption);
            }
          }
        }
      })
    }

    //像后端请求city
    function stateChanged() {
      $.ajax({
        url: "/data",
        method: "get",
        data: {
          state: state.value
        },
        success: function (d) {
          if ($("#city").find("option") != 0) {
            $("#city").empty();
          }
          var data = JSON.parse(d);
          for (let i = 0; i < data.length; i++) {
            if (data[i].region.name == region.value) {
              for (let j = 0; j < data[i].region.state.length; j++) {
                if (data[i].region.state[j].name == state.value) {
                  cityOption = addOption(data[i].region.state[j].city)//添加city的option
                  $("#city").append(cityOption);
                }

              }

            }
          }
        }
      })
    }
  </script>
</body>

</html>