body {
    margin: 0;
}

.banner {
    background: url(https://work.mafengshe.com/static/imgs/banner.jpg);
    height: 270px;
    margin-bottom: 40px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 22%;
    height: 148px;
    background: #4cd8e0;
    border-radius: 10px;
    margin: 0 10px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.item .no {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #20b6d2;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    position: absolute;
    left: -15px;
    top: -15px;
}

.item .title {
    height: 45px;
    background: #00474c;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    text-align: center;
    line-height: 45px;
    color: white;
}

.item .info {
    color: white;
    font-size: 13px;
    position: absolute;
    right: 10px;
    top: 3px;

}

.item .info span {
    margin: 0 2px;
}

.item .smile {
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    color: black;
    font-size: 60px;
}

.pages_banner {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: black;
    /* position: relative; */
}

.pages_banner .page {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.pages_banner .page a{
    color: black;
    width: 30px;
    height: 30px;
    font-size: 17.4px;
    text-decoration: none;
    display:inline-block;
    text-align: center;
    line-height: 30px;
}
.pages_banner .page .onpage {
    background: #ee6e73;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 17.4px;
    text-decoration: none;
    display:inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.pages_banner .page_pn {
    text-decoration: none; 
    height: 30px;
    display:inline-block;
    line-height: 30px;
}
.pages_banner .page_pn span{
    height: 30px;
    font-size: 30px;
    color: black;
    text-align: center;
    line-height: 30px;
}